header img{
    width: 200px;
    height: 140px;
    float: left;
}

header {
    height: 200px;
    background-color: #0C1D36;
}

nav {
    background-color: #F9CC0B;
}

div.navbar {
    width: 100px;
    height: 100px;
    text-align: center;
    border: 2px solid black;
}

div#nav {
    display: flex;
    flex-direction: row;
}

a:hover {
    background-color: lightyellow;
}

a {
    text-decoration: none;
}