html {
  font-family: "Nunito Sans", sans-serif;
}

/* header formatting */
header img {
  width: 70px;
  height: 45px;
  float: left;
  padding-top: 10px;
  margin-left: 20px;
}

header {
  height: 75px;
  background-color: #0c1d36;
  margin: 0;
}
h1 {
  color: #0c1d36;
}
h3#fares {
  color: #f9cc0b;
  padding-top: 15px;
  font-size: 36px;
  margin-top: 0px;
}
title {
  color: #0c1d36;
}
body {
  margin: 0;
}

/* nav bar formatting */

nav {
  height: 50px;
}

ul#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f9cc0b;
  width: 100%;
}

li.nav {
  float: left;
  width: 25%;
}

li.nav a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bolder;
  color: #0c1d36;
}

li.nav a:hover {
  background-color: lightyellow;
  text-decoration: underline;
}

iframe {
  margin-top: 100px;
}

footer {
  margin-top: 30px;
  background-color: #0c1d36;
  color: #f9cc0b;
  height: 70px;
  text-align: center;
  padding-top: 10px;
  font-weight: bolder;
}
footer h3 {
  text-align: center;
  padding-right: 250px;
}
